<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
<servlet>
  <servlet-name>formSubmitServlet</servlet-name>
  <servlet-class>org.scientificprofiling.affinitybrowser.server.FormSubmitServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>formSubmitServlet</servlet-name>
  <url-pattern>/affinitybrowser/FormSubmitServlet</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>myServiceImpl</servlet-name>
  <servlet-class>
    org.scientificprofiling.affinitybrowser.server.MyServiceImpl
  </servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>myServiceImpl</servlet-name>
  <url-pattern>/affinitybrowser/myService</url-pattern>
</servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>AffinityBrowser.html</welcome-file>
  </welcome-file-list>

</web-app>
